body {
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mainContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.mainContainerContents {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
#inputsForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 20px;
}
.fileSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 75px;
}
#fileSelector {
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 20px;
}
.wordInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 75px;
}
#wordInput {
  margin: 5px;
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 20px;
}
