body {
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.mainContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.mainContainerContents {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}
#inputsForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 20px;
}
.fileSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 75px;
}
#fileSelector {
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 20px;
}
.wordInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 75px;
}
#wordInput {
  margin: 5px;
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 20px;
}
#searchButton {
  margin-top: 10px;
}
#searchMessageContainer {
  margin: 0px 5px 5px 5px;
}
.sentenceTableRow td {
  border: 1px;
}
#resultsContainer {
  display: flex;
  justify-content: top;
  width: 95vw;
  height: calc(100vh - 40);
  padding: 10px 10px 10px 10px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

#sentencesDisplayContainer {
  height: 750px;
  width: 50%;
  order: 1;
  overflow-y: scroll;
}
#sentencesTableID {
  left: 0;
  right: 0;
}
table tr:hover td {
  background-color: yellow;
}

.tableRow {
  word-wrap: break-word;
  border: 1px solid black;
}
.tableCell {
  text-align: center;
  padding: 5px 5px;
}

#canvasContainer {
  display: flex;
  order: 2;
  justify-content: center;
  align-items: center;
  height: 750px;
  overflow-y: scroll;
  width: 50%;
}
#canvas {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
#loaderID {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
